.container {
  container-type: size;
  width: 40%;

  background-color: rgb(0, 0, 0);
  border-radius: 10px;

  display: grid;
  grid-template-rows: auto minmax(0, 1fr);
  grid-template-columns: minmax(0, 1fr);

  &:hover {
    background-color: rgb(29, 29, 29);
  }

  .label {
    font-size: max(10px, 15cqh);
    text-align: center;
  }
}

.control {
  display: flex;

  align-items: center;
  justify-content: center;

  padding-bottom: 8cqh;
  container-type: size;

  .value {
    font-size: 100cqh;
    width: 33cqw;
    line-height: 0px;
    text-align: center;
    font-weight: bold;
  }
  button {
    background-color: rgb(36, 36, 36);
    border: none;
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1;

    color: rgb(172, 172, 172);
    font-family: monospace;
    font-size: 100cqh;
    white-space: nowrap;
    /* line-height: 50px; */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: rgb(66, 66, 66);
    }

    &:active {
      background-color: rgb(66, 66, 66);
      filter: invert(100%);
    }
  }
}
